.scroll-top {
    background: #0074d9;
}
.header-top {
    .info {
        li {
            a {
                &:hover {
                    color: #0074d9 !important;
                }
            }
        }
        li.language {
            .language-dropdown {
                background: #453f85;
                border-top: 2px solid #0074d9;
                li {
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                }
            }
        }
    }
}
.bg-color-1 {
    background-color: #b7e9e1;
}
.theme-btn-one {
    background: #0074D9;
    &:before {
        background: #016cc9;
    }
    &:hover {
        background: #016cc9;
    }
}
.main-header {
    .logo-box {
        .bg-color {
            background: #453f85;
        }
    }
}
.main-menu {
    .navigation {
        >li.current {
            >a {
                color: #0074d9;
            }
        }
        >li {
            &:hover {
                >a {
                    color: #0074d9;
                }
            }
            >ul {
                >li {
                    >a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                    >ul {
                        >li {
                            >a {
                                &:hover {
                                    color: #0074d9;
                                }
                            }
                        }
                    }
                }
            }
            >.megamenu {
                li {
                    >a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                }
            }
            >a {
                &:before {
                    background: #0074d9;
                }
            }
        }
    }
}
.select-box {
    label {
        span {
            &:before {
                background-color: #0074d9;
            }
        }
    }
    input[type="radio"] {
        &:checked {
            + {
                label {
                    span {
                        border-color: #0074d9;
                    }
                }
            }
        }
    }
}
.banner-section {
    .content-box {
        form {
            .form-group {
                button {
                    background: #0074d9;
                }
            }
        }
    }
}
.bg-color-2 {
    background-color: #453f85;
}
.feature-block-one {
    .inner-box {
        h3 {
            color: #0074d9;
        }
        .link {
            a {
                color: #0074d9;
            }
        }
    }
}
.feature-block {
    &:first-child {
        .feature-block-one {
            .inner-box {
                h3 {
                    color: #fe5948;
                }
            }
        }
    }
    &:nth-child(3) {
        .feature-block-one {
            .inner-box {
                h3 {
                    color: #ffab01;
                }
            }
        }
    }
    &:nth-child(4) {
        .feature-block-one {
            .inner-box {
                h3 {
                    color: #01b4d9;
                }
            }
        }
    }
}
.image_block_1 {
    .image-box {
        .pattern {
            .pattern-2 {
                background: #0074d9;
            }
        }
    }
}
.sec-title {
    p {
        color: #0074d9;
    }
}
.list-style-one {
    li {
        &:before {
            border: 3px solid #0074d9;
        }
    }
}
.processing-block-one {
    .inner-box {
        h3 {
            a {
                &:hover {
                    color: #0074d9;
                }
            }
        }
        &:after {
            background: #0074d9;
        }
    }
}
.processing-block {
    &:nth-child(2) {
        .processing-block-one {
            .inner-box {
                &:after {
                    background: #fe5948;
                }
            }
        }
    }
}
.nav-style-one {
    .owl-prev {
        &:hover {
            background: #0074d9;
        }
    }
    .owl-next {
        &:hover {
            background: #0074d9;
        }
    }
}
.team-block-one {
    .inner-box {
        .content-box {
            position: relative;
            .like-box {
                a {
                    color: #0074d9;
                    &:hover {
                        background: #0074d9;
                    }
                }
            }
            .name-box {
                li {
                    h3 {
                        a {
                            &:hover {
                                color: #0074d9;
                            }
                        }
                    }
                    &:nth-child(2) {
                        color: #0074d9;
                    }
                    &:last-child {
                        color: #ffae0a;
                    }
                }
            }
            .rating {
                li {
                    color: #ffab01;
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                }
            }
            .link {
                a {
                    color: #0074d9;
                }
            }
            .link.not-available {
                a {
                    color: #fe5948;
                }
            }
        }
    }
}
.doctors-block-one {
    .inner-box {
        .doctors-list {
            li {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                }
            }
        }
        .link {
            a {
                color: #0074d9;
            }
        }
    }
}
.content_block_2 {
    .content-box {
        .btn-box {
            .download-btn.app-store {
                background: #0074d9;
            }
            .download-btn.play-store {
                background: #fe5948;
            }
        }
    }
}
.news-block-one {
    .inner-box {
        .image-box {
            &:before {
                background: #0074d9;
            }
            .category {
                background: #fe5948;
            }
        }
        .lower-content {
            h3 {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                }
            }
            .post-info {
                li {
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                }
            }
            .link {
                a {
                    color: #0074d9;
                }
            }
        }
    }
}
.news-block {
    &:nth-child(2) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #01b4d9;
                    }
                }
            }
        }
    }
    &:nth-child(3) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #ffab01;
                    }
                }
            }
        }
    }
    &:nth-child(4) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #94c74e;
                    }
                }
            }
        }
    }
    &:nth-child(5) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #e48e65;
                    }
                }
            }
        }
    }
    &:nth-child(6) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #c14ad5;
                    }
                }
            }
        }
    }
    &:nth-child(7) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #6691f5;
                    }
                }
            }
        }
    }
    &:nth-child(8) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #88c58b;
                    }
                }
            }
        }
    }
    &:nth-child(9) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #e89c89;
                    }
                }
            }
        }
    }
    &:nth-child(10) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #fe5948;
                    }
                }
            }
        }
    }
    &:nth-child(11) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #01b4d9;
                    }
                }
            }
        }
    }
    &:nth-child(12) {
        .news-block-one {
            .inner-box {
                .image-box {
                    .category {
                        background: #ffab01;
                    }
                }
            }
        }
    }
}
.content_block_3 {
    .content-box {
        .support-box {
            .icon-box {
                color: #0074d9;
                &:before {
                    background: #0074d9;
                }
            }
            h3 {
                a {
                    color: #0074d9;
                }
            }
        }
        &:before {
            background: #0074d9;
        }
    }
}
.content_block_4 {
    .content-box {
        .subscribe-form {
            .form-group {
                input {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
                button {
                    &:hover {
                        color: #0074d9 !important;
                    }
                }
            }
        }
        &:before {
            background: #0074d9;
        }
    }
}
.footer-top {
    .links-widget {
        .links {
            li {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                    &:before {
                        background: #0074d9;
                    }
                }
            }
        }
    }
    .contact-widget {
        .widget-content {
            li {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                }
                i {
                    color: #0074d9;
                }
            }
        }
    }
}
.footer-bottom {
    .copyright {
        p {
            a {
                &:hover {
                    color: #0074d9;
                }
            }
        }
    }
    .footer-nav {
        li {
            a {
                &:hover {
                    color: #0074d9;
                }
            }
        }
    }
}
.main-header.style-two {
    .header-top {
        .top-left {
            li {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                }
                i {
                    color: #0074d9;
                }
            }
        }
    }
}
.banner-section.style-two {
    .bg-layer {
        &:before {
            background: #0074d9;
        }
    }
}
.about-section {
    .image_block_2 {
        .image-box {
            .image-content {
                h4 {
                    color: #fe5948;
                }
            }
        }
    }
}
.image_block_2 {
    .image-box {
        .pattern {
            .pattern-3 {
                background: #0074d9;
            }
        }
        .image-content {
            h4 {
                color: #fe5948;
            }
        }
    }
}
.processing-block-two {
    .inner-box {
        h3 {
            a {
                &:hover {
                    color: #0074d9;
                }
            }
        }
    }
}
.team-block-two {
    .inner-box {
        .image-box {
            &:before {
                background: #0074d9;
            }
            a {
                color: #0074d9;
            }
        }
        .lower-content {
            h3 {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                }
            }
            .rating {
                li {
                    color: #ffab01;
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                }
            }
        }
    }
}
.banner-section.style-three {
    &:before {
        background: #3a347a;
    }
}
.category-block-one {
    .inner-box {
        h3 {
            a {
                &:hover {
                    color: #0074d9;
                }
            }
        }
        .link {
            a {
                color: #0074d9;
            }
        }
    }
}
.image_block_3 {
    .image-box {
        .image-content {
            h4 {
                color: #fe5948;
            }
        }
        .pattern {
            .pattern-3 {
                background: #38c8ba;
            }
        }
    }
}
.team-block-three {
    .inner-box {
        .image-box {
            a {
                color: #0074d9;
            }
            &:before {
                background: #0074d9;
            }
        }
        .lower-content {
            .name-box {
                li {
                    &:nth-child(2) {
                        color: #0074d9;
                    }
                    &:last-child {
                        color: #ffae0a;
                    }
                    color: #ffab01;
                    h3 {
                        a {
                            &:hover {
                                color: #0074d9;
                            }
                        }
                    }
                }
            }
            .rating {
                li {
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                    color: #ffab01;
                }
            }
            .lower-box {
                .text {
                    color: #01b4d9;
                }
                a {
                    color: #0074d9;
                    &:hover {
                        background: #0074d9;
                        border-color: #0074d9;
                    }
                }
                .text.not-available {
                    color: #fe5948;
                }
            }
        }
    }
}
.team-style-three {
    &:before {
        background: #453f85;
    }
}
.testimonial-style-two {
    .owl-theme {
        .owl-dots {
            .owl-dot.active {
                span {
                    border-color: #0074d9;
                    background: #0074d9;
                }
            }
            .owl-dot {
                span {
                    &:hover {
                        border-color: #0074d9;
                        background: #0074d9;
                    }
                }
            }
        }
    }
}
.banner-section.style-four {
    .image-box {
        .anim-icon {
            .icon-4 {
                background: #0074d9;
            }
        }
    }
}
.banner-section.style-five {
    .content-inner {
        .doctors-box {
            h3 {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                }
            }
            .info {
                li {
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                    i {
                        color: #0074d9;
                    }
                }
            }
        }
    }
    .content-box {
        background: #3a347a;
    }
}
.counter-block-one {
    .inner-box {
        .count-outer {
            color: #0074d9;
        }
    }
}
.content_block_5 {
    .content-box {
        .sec-title {
            h3 {
                color: #01b4d9;
            }
        }
    }
}
.faq-page-section {
    .categories-list {
        li {
            &:before {
                background: #0074d9;
            }
        }
    }
}
.questions-section {
    .form-inner {
        form {
            .form-group {
                input {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
                textarea {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
            }
        }
    }
}
.pricing-block-one {
    .pricing-table {
        .table-header {
            h3 {
                color: #0074d9;
            }
        }
        .table-content {
            ul {
                li {
                    &:before {
                        color: #0074d9;
                    }
                }
            }
        }
        .table-footer {
            .link {
                a {
                    color: #0074d9;
                }
            }
        }
    }
}
.pricing-section {
    .tab-btn-box {
        .tab-btns {
            &:before {
                background: #0074d9;
            }
            li.active-btn {
                color: #0074d9;
            }
        }
    }
}
.error-section {
    .inner-box {
        h1 {
            color: #0074d9;
        }
    }
}
.select-field {
    .content-box {
        form {
            .form-group {
                button {
                    background: #0074d9;
                }
            }
        }
    }
}
.clinic-section {
    .item-shorting {
        .right-column {
            .menu-box {
                button.on {
                    background: #0074d9;
                    border-color: #0074d9;
                }
            }
        }
    }
}
.clinic-block-one {
    .inner-box {
        .content-box {
            .like-box {
                a {
                    color: #0074d9;
                    &:hover {
                        background: #0074d9;
                    }
                }
            }
            .name-box {
                li {
                    &:nth-child(2) {
                        color: #0074d9;
                    }
                    &:last-child {
                        color: #ffab01;
                    }
                    h3 {
                        a {
                            &:hover {
                                color: #0074d9;
                            }
                        }
                    }
                }
            }
            .rating {
                li {
                    color: #ffab01;
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                }
            }
            .link {
                a {
                    color: #01b4d9;
                }
            }
            .btn-box {
                a {
                    color: #0074d9;
                    &:hover {
                        background: #0074d9;
                        border-color: #0074d9;
                    }
                }
            }
            .link.not-available {
                a {
                    color: #fe5948;
                }
            }
        }
    }
}
.pagination {
    li {
        a {
            &:hover {
                background: #0074d9;
                border-color: #0074d9;
            }
        }
        a.current {
            background: #0074d9;
            border-color: #0074d9;
        }
    }
}
.clinic-details-content {
    .clinic-block-one {
        .inner-box {
            .lower-box {
                .info {
                    li {
                        i {
                            color: #0074d9;
                        }
                        a {
                            &:hover {
                                color: #0074d9;
                            }
                        }
                    }
                }
                .view-map {
                    a {
                        color: #01b4d9;
                    }
                }
            }
            .content-box {
                .share-box {
                    a.share-btn {
                        color: #0074d9;
                        &:hover {
                            background: #0074d9;
                        }
                    }
                }
            }
        }
    }
    .tabs-box {
        .tab-btn-box {
            background: #ffffff;
            .tab-btns {
                li.active-btn {
                    color: rgb(0, 0, 0);
                }
            }
        }
        .location-box {
            .location-info {
                li {
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                    i {
                        color: #000000;
                    }
                }
            }
        }
    }
}
.clinic-sidebar {
    .form-widget {
        .form-title {
            background: #0074D9;
        }
        .form-inner {
            .form-group {
                input {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
                textarea {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
            }
        }
    }
    .info-widget {
        .info-title {
            background: #453f85;
        }
        .info-inner {
            .info-list {
                li {
                    p {
                        a {
                            &:hover {
                                color: #453f85;
                            }
                        }
                    }
                }
            }
        }
        .social-box {
            .social-links {
                li {
                    a {
                        &:hover {
                            border-color: #0074d9;
                            background: #0074d9;
                        }
                    }
                }
            }
        }
    }
}
.profile-box {
    .upper-box {
        .profile-image {
            background: #453f85;
        }
    }
    .profile-info {
        .list {
            li {
                a.current {
                    color: #0074d9;
                    i {
                        color: #0074d9;
                    }
                }
                a {
                    &:hover {
                        color: #0074d9;
                        i {
                            color: #0074d9;
                        }
                    }
                }
                span {
                    background: #0074d9;
                }
            }
        }
    }
}
.feature-block-two {
    .inner-box {
        .icon-box {
            color: #0074d9;
        }
    }
}
.theme-btn-two {
    color: #0074d9;
    &:hover {
        background: #0074d9;
        border-color: #0074d9;
    }
}
.doctors-appointment {
    .doctors-table {
        tr {
            td {
                .time {
                    color: #0074d9;
                }
                .status {
                    color: #39dc86;
                }
                .status.cancel {
                    color: #fe5948;
                }
                .status.pending {
                    color: #ffab01;
                }
                .print {
                    color: #0074d9;
                }
                .view {
                    color: #01b4d9;
                }
                .accept {
                    color: #0074d9;
                }
                .cancel {
                    color: #fe5948;
                }
            }
        }
    }
}
.submit-review {
    .review-box {
        .content-box {
            .title-inner {
                background: #453f85;
            }
        }
        .content-inner {
            .form-inner {
                .form-group {
                    input {
                        &:focus {
                            border-color: #0074d9 !important;
                        }
                    }
                    textarea {
                        &:focus {
                            border-color: #0074d9 !important;
                        }
                    }
                }
            }
        }
    }
}
.custom-controls-stacked {
    .description {
        a {
            color: #0074d9;
            border-bottom: 1px solid #0074d9;
        }
    }
}
.custom-check-box {
    .custom-control.material-checkbox {
        .material-control-input {
            &:checked {
                ~ {
                    .material-control-indicator {
                        background: #0074d9 !important;
                        border: 1px solid #0074d9 !important;
                    }
                }
            }
        }
    }
}
.appointment-section {
    .title-box {
        background: #0074d9;
    }
    .information-form {
        .form-group {
            input {
                &:focus {
                    border-color: #0074d9 !important;
                }
            }
            textarea {
                &:focus {
                    border-color: #0074d9 !important;
                }
            }
        }
    }
    .payment-information {
        .form-group {
            input {
                &:focus {
                    border-color: #0074d9 !important;
                }
            }
        }
    }
}
.confirm-section {
    .inner-box {
        .content-box {
            .icon-box {
                border: 1px solid #0074d9;
                color: #0074d9;
            }
            a {
                color: #0074d9;
            }
        }
    }
}
.registration-section {
    .content-box {
        .title-box {
            background: #0074d9;
            a {
                color: #0074d9;
            }
        }
        .inner {
            .form-group {
                input {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
                .forgot-passowrd {
                    a {
                        &:hover {
                            color: #0074d9;
                        }
                    }
                }
            }
            .social-links {
                li {
                    &:first-child {
                        a {
                            background: #3a559f;
                        }
                    }
                    &:last-child {
                        a {
                            background: #dd4b39;
                        }
                    }
                }
            }
        }
        .login-now {
            p {
                a {
                    color: #0074d9;
                }
            }
        }
    }
}
.doctor-details-content {
    .tabs-box {
        .tabs-content {
            .inner-box {
                .text {
                    .treatments-list {
                        li {
                            a {
                                &:hover {
                                    color: #0074d9;
                                }
                            }
                        }
                    }
                }
            }
            .review-box {
                .rating-inner {
                    .rating-box {
                        background: #453f85;
                        h2 {
                            color: #0074d9;
                        }
                        .clearfix {
                            li {
                                color: #ffab01;
                            }
                        }
                    }
                    .rating-pregress {
                        .porgress-bar {
                            &:before {
                                background: #0074d9;
                            }
                        }
                        .single-progress {
                            .text {
                                p {
                                    i {
                                        color: #ffab01;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.single-review-box {
    .rating {
        li {
            color: #ffab01;
        }
    }
}
.doctors-sidebar {
    .form-widget {
        .form-title {
            background: #0074D9;
        }
    }
}
.doctors-dashboard {
    .right-panel {
        .appointment-list {
            .single-item {
                .inner {
                    .info-list {
                        li {
                            a {
                                &:hover {
                                    color: #0074d9;
                                }
                            }
                        }
                    }
                    .confirm-list {
                        li {
                            color: #0074d9;
                            &:last-child {
                                color: #fe5948;
                            }
                        }
                    }
                }
            }
        }
    }
    .review-list {
        .comment-inner {
            .single-comment-box {
                .comment {
                    .rating {
                        li {
                            color: #ffab01;
                        }
                    }
                    .replay-btn {
                        &:hover {
                            background: #0074d9;
                            border-color: #0074d9;
                        }
                    }
                }
            }
        }
    }
    .my-profile {
        .single-box {
            .profile-title {
                .upload-photo {
                    a {
                        background: #0074d9;
                    }
                }
            }
        }
    }
}
.my-patients {
    .title-box {
        .search-form {
            input {
                &:focus {
                    border-color: #0074d9 !important;
                    + {
                        button {
                            color: #0074d9;
                        }
                    }
                }
            }
            button {
                &:hover {
                    color: #0074d9;
                }
            }
        }
    }
}
.add-listing {
    .single-box {
        .inner-box {
            .form-group {
                input {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
                textarea {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
            }
        }
        .title-box {
            a.menu {
                &:hover {
                    border-color: #0074d9;
                    background: #0074d9;
                }
            }
        }
    }
}
.schedule-timing {
    .title-box {
        .search-form {
            input {
                &:focus {
                    border-color: #0074d9 !important;
                    + {
                        button {
                            color: #0074d9;
                        }
                    }
                }
            }
            button {
                &:hover {
                    color: #0074d9;
                }
            }
        }
    }
    .inner-box {
        .calendar-title {
            background: #453f85;
        }
    }
}
.main-header.style-three {
    .author-box {
        .icon-box {
            a {
                &:hover {
                    background: #0074d9;
                    border-color: #0074d9;
                }
            }
        }
    }
}
.blog-sidebar {
    .sidebar-search {
        .search-form {
            .form-group {
                button {
                    background: #0074d9;
                }
                input {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
            }
        }
    }
    .category-widget {
        .category-list {
            li {
                a {
                    &:hover {
                        color: #0074d9;
                        &:before {
                            border-color: #0074d9;
                        }
                    }
                }
            }
        }
    }
    .post-widget {
        .post-inner {
            h5 {
                a {
                    &:hover {
                        color: #0074d9;
                    }
                }
            }
        }
    }
    .archives-widget {
        .archives-list {
            li {
                a {
                    &:hover {
                        color: #0074d9;
                        &:before {
                            border-color: #0074d9;
                        }
                    }
                }
            }
        }
    }
    .sidebar-tags {
        .tags-list {
            li {
                a {
                    &:hover {
                        border-color: #0074d9;
                        background: #0074d9;
                    }
                }
            }
        }
    }
}
.blog-details-content {
    blockquote {
        i {
            background: #0074d9;
        }
    }
    .two-column {
        .text {
            .list {
                li {
                    &:before {
                        background: #0074d9;
                    }
                }
            }
        }
    }
    .post-share-option {
        .social-links {
            li {
                a {
                    &:hover {
                        background: #0074d9;
                    }
                }
            }
        }
    }
    .comment-box {
        .comment {
            .comment-inner {
                .reply-btn {
                    &:hover {
                        color: #0074d9;
                    }
                }
            }
        }
    }
    .comments-form-area {
        .comment-form {
            .form-group {
                input {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
                textarea {
                    &:focus {
                        border-color: #0074d9 !important;
                    }
                }
            }
        }
    }
}
.single-information-block {
    .inner-box {
        p {
            a {
                &:hover {
                    color: #0074d9;
                }
            }
        }
    }
}
.contact-section {
    .default-form {
        .form-group {
            input {
                &:focus {
                    border-color: #0074d9 !important;
                }
            }
            textarea {
                &:focus {
                    border-color: #0074d9 !important;
                }
            }
        }
    }
}
.monthly-day-wrap {
    .monthly-week {
        &:nth-child(2) {
            .monthly-day-pick {
                &:last-child {
                    &:before {
                        background: #594ed0;
                    }
                }
            }
        }
        &:nth-child(3) {
            .monthly-day-pick {
                &:nth-child(2) {
                    &:before {
                        background: #01b4d9;
                    }
                }
            }
        }
        &:nth-child(4) {
            .monthly-day-pick {
                &:nth-child(4) {
                    &:before {
                        background: #fe5948;
                    }
                }
            }
        }
    }
}
.message-box {
    .title-box {
        a.menu {
            &:hover {
                background: #0074d9;
            }
        }
    }
}
.right-panel {
    .message-box {
        .chat-room {
            .side-title {
                background: #453f85;
            }
        }
    }
}
#frame {
    #sidepanel {
        #search {
            input {
                &:focus {
                    border-color: #0074d9;
                    + {
                        button {
                            color: #0074d9;
                        }
                    }
                }
            }
            button {
                &:hover {
                    color: #0074d9;
                }
            }
        }
        #contacts {
            ul {
                li.contact {
                    .wrap {
                        span.contact-status.online {
                            background: #0074d9;
                        }
                        span.contact-status.away {
                            background: #ffab01;
                        }
                        span.contact-status.busy {
                            background: #fe5948;
                        }
                        .meta {
                            .hidden-chat {
                                background: #0074d9;
                            }
                        }
                    }
                }
            }
        }
    }
    .content {
        .contact-profile {
            .chat-option {
                a {
                    &:hover {
                        background: #0074d9;
                        border-color: #0074d9;
                    }
                }
            }
        }
        .message-input {
            .wrap {
                button {
                    background: #0074d9;
                }
            }
        }
    }
}
