.lower-box {
    display: flex;
    justify-content: space-between;
}

// Masüstü boyutlar
.left {
    float: left;
    width: 100%;
}

.sticky-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

// Mobil boyutlar
@media (max-width: 767px) {
    .left {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
}

